@charset "UTF-8";
.text-orange {
  color: #fab702 !important;
}

.text-blue {
  color: #6d7396 !important;
}

.text-darkblack {
  color: #252c3a !important;
}

.text-gray {
  color: #f5f5f5 !important;
}

.text-gray300 {
  color: #696969 !important;
}

.text-darkblue {
  color: #d8deff !important;
}

.text-blue100 {
  color: #4c5b6d !important;
}

.bg-orange {
  background: #fab702 !important;
}

.bg-blue {
  background: #6d7396 !important;
}

.bg-darkblack {
  background: #252c3a !important;
}

.bg-gray {
  background: #f5f5f5 !important;
}

.bg-gray300 {
  background: #696969 !important;
}

.bg-darkblue {
  background: #d8deff !important;
}

.bg-blue100 {
  background: #4c5b6d !important;
}

.text-hover-orange:hover {
  text-decoration: none !important;
  color: #fab702 !important;
}

.text-hover-blue:hover {
  text-decoration: none !important;
  color: #6d7396 !important;
}

.text-hover-darkblack:hover {
  text-decoration: none !important;
  color: #252c3a !important;
}

.text-hover-gray:hover {
  text-decoration: none !important;
  color: #f5f5f5 !important;
}

.text-hover-gray300:hover {
  text-decoration: none !important;
  color: #696969 !important;
}

.text-hover-darkblue:hover {
  text-decoration: none !important;
  color: #d8deff !important;
}

.text-hover-blue100:hover {
  text-decoration: none !important;
  color: #4c5b6d !important;
}

.contact-list, .tab-content .three-columns, .function-list, .footer .footer-links, .top-footer .list-items,
.top-footer .news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

#searchModal .input-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#searchModal .input-group .form-control {
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
}

#searchModal .input-group:focus {
  -webkit-box-shadow: inset 0px 2px 5px 0px #fab702;
          box-shadow: inset 0px 2px 5px 0px #fab702;
}

#searchModal .btn {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  max-width: 100px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?f0k9ke");
  src: url("../fonts/icomoon.eot?f0k9ke#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?f0k9ke") format("truetype"), url("../fonts/icomoon.woff?f0k9ke") format("woff"), url("../fonts/icomoon.svg?f0k9ke#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "";
}

.icon-date:before {
  content: "";
}

.icon-schedule:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-skype:before {
  content: "";
  color: #00aff0;
}

.icon-facebook:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-call:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.banner-block {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.banner-block:after {
  content: '';
  display: block;
  clear: both;
  height: 540px;
}

.services {
  padding: 120px 0;
}

.services .text-wrap {
  margin-bottom: 80px;
}

.card .img-wrap {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 220px;
}

.style {
  position: relative;
  display: inline;
  vertical-align: top;
}

.style:after {
  -webkit-transition: opacity 0.3s linear, width 0.3s linear;
  transition: opacity 0.3s linear, width 0.3s linear;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  height: 1px;
  background: #fab702;
}

.card:hover h3 {
  color: #fab702;
}

.card:hover .style {
  color: #fab702;
}

.card:hover .style:after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.nav-tabs .style:hover:after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.tab-content .three-columns > li {
  width: 33.33%;
}

.img-wrap {
  position: relative;
  padding-top: 60%;
  overflow: hidden;
}

.img-wrap:hover .img {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.img-wrap:hover .caption-wrap {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.img {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1;
}

.caption-wrap {
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.87);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
}

.function-list a {
  width: 45px;
  height: 40px;
  background: #fab702;
  color: #fff;
}

.title {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background: #6d7396;
}

.feedback-block {
  padding: 50px 0;
}

@media (min-width: 1024px) {
  .feedback-block {
    padding: 120px 0;
  }
}

.feedback-block .feedback-details {
  background: #f9f9f9;
}

.feedback-block blockquote {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.feedback-block blockquote q {
  quotes: none;
}

.feedback-block .thumbnail {
  -ms-flex-preferred-size: 138px;
      flex-basis: 138px;
  max-width: 138px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-style-normal {
  font-style: normal !important;
}

.footer {
  font-size: 1.3rem;
}

.footer a {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #d8deff;
}

.footer a:hover {
  color: #fab702;
}

.footer .footer-links li.active a {
  color: #fab702;
}

.top-footer .list-items,
.top-footer .news-list {
  font-size: 10px;
}

.top-footer .list-items li:not(:last-child),
.top-footer .news-list li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.top-footer .list-items a,
.top-footer .news-list a {
  color: #fff;
}

.top-footer .list-items a:hover,
.top-footer .news-list a:hover {
  color: #fab702;
}

.top-footer .list-items li:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  font-family: icomoon;
  padding-right: 5px;
}

.top-footer .news-list a {
  display: block;
  padding-left: 70px;
  position: relative;
}

.top-footer .news-list .thumbnail {
  width: 64px;
  height: 55px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}

.top-footer .news-list .text,
.top-footer .news-list time {
  display: block;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  font-size: 10px;
}

body {
  min-width: 320px;
}
/*# sourceMappingURL=main.css.map */